@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
body {
  background-color: whitesmoke;
}
h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: #a55364;
}
h2 {
  color: white;
  font-family: 'Spectral', serif;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #9099A2
}
td, th {
  border: 1px solid #a55364;
}

td, th {
  color: salmon;
  background-color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
}
th,
#tableElement > tr:nth-child(1) > td {
  color: #a55364;
  font-family: 'Spectral', serif;
  padding: 10px;

}
#tableElement {
  text-align: center;
  margin: 0 auto;
}
#tableElement > tr, 
#tableElement > th {
  font-family: 'Spectral', serif;
  font-weight: bold;
}
#headline {
  font-size: 200%;
  padding: 30px;
  text-align: center;
}
#sales-page {
  width: 35%;
  padding-top: 25px;
  padding-bottom: 25px;
}
a {
  color: #6D7993
}
p {
  font-family: 'Spectral', serif;
  font-weight: 500;
  background-color: #9099A2;
  color: white;
  padding: 10px;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
article {
  display: inline-block;
  width: 18.2%;
  padding: 10px;
}
article > li {
  color: salmon;
  background-color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-top: 20px;
}
#parentElement > li {
  padding-top: 20px;
}