@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
body {
  background-color: whitesmoke;
}
h1 {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  color: #a55364;
}
h2 {
  color: dimgray;
  font-family: 'Spectral', serif;
  font-size: 100% !important;
  text-align: center;
}

p {
  background-color: #9099A2;
  padding: 10px;
  
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#parentElement > li {
  color: salmon;
  background-color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* width: 31.3% */
}
#parentElement > li {
  padding-top: 20px;
}